*{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --text-color: rgb(252, 59, 59);
}
.BackgroundIMG{
    background-image: url(Images/food_background\ \(1\).png);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar a{
    font-size: 1.2rem;
    color: white;
    margin-left: 3rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    text-decoration: none;
}
.navbar a:hover,
.navbar a.active{
    color: var(--text-color);
    border-bottom: 3px solid var(--text-color);
}
.logo{
    font-size: 3rem;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-decoration: none;
}
.logo:hover{
    transform: scale(1.1);
}
.logo span{
    color: var(--text-color);
}
.top{
    min-height: 100vh;
    padding: 10rem 5% 5rem;
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

/*-------------Slogan-----------*/
.Slogan{
    color:var(--text-color);
    float:right;
    right: 12px;
    font-size: 4rem;
    margin-top: 70px;
    margin-right: 10px;
    text-shadow: black 1px -1px;
}

#aboutus{
    color: #ffffff;
    font-size: 30px;
}

.aboutWeb{
    color: white;
   font-size: 24px;
   font-weight: 10px;
   margin: 30px;
}

.chef{
    width: 250px;
    height: 250px;
    float: right;   
    margin-left: 100px;
    margin-top: -40px;
}

/*---------Choose us----------*/
.ChooseUs{
    color: #ffffff;
    font-size: 30px;
    margin-left: 12px;
    margin-top: 20px;
}

.ChooseUs__point{
    color: #ffffff;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 24px;
}

.Food_home{
    float: right;
    margin-left: 120px;
}
.cho_food{
    display: inline-flex;
    justify-content: space-around;
    padding: 10px;
}

/*----------Food menu-----------*/
.Food_back{
    background-image: url(Images/food_menu_background\ \(1\).png);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}
.menu-container {
    display: none;
}
.menu-container.show {
    display: block;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}
.grid-item {
    background-color: black;
    border: 1px solid var(--text-color);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    color: white;
}
.grid-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/*---------Food_items----------*/
.Food_type_name{
font-size: 50px;
color: white;
}
.Food_type ol{
    justify-content: space-between; 
    margin-top: 30px;
    font-size: 30px;
    color: white;
}
.Food_type p{
    font-size: 30px;
    color: white;
    font-weight: 100px;
    font-style: italic;
    margin-left: -12px;
    margin-top: 20px;
}
.Food_type img{
    width: 300px;
    height: 200px;
}
.Food_type button{
    font-size: 40px;
    float: right;
    margin-right: 49%;
    margin-top: -40px;
}

/*---------Contact us----------*/
.social-media a, footer a{
    text-shadow: none !important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: 0.2rem solid white;
    font-size: 1.5rem;
    border-radius: 50%;
    color: white;
    margin: 1rem 1rem 1rem 0;
    transition: 0.3s ease-in-out;
    text-decoration: none;
}
.social-media a:hover{
    color: var(--text-color);
    transform: scale(1.2)translateY(-5px);
    box-shadow:0 0 25px white;
    background-color: white;
}
.contactus {
    min-height: 100vh;
    padding: 10rem 5% 5rem;
    text-align: center;
    justify-content: center;
    text-shadow: black 1px -1px;
}
.contactus h3 {
    color: white;
    padding: 3rem;
    font-size: 3rem;
}
.contactus p {
    font-size: 1.5rem;
    color: white;
    padding: 1rem;
}
.contactus p a{
    color: white;
}
.contactus span{
    color: var(--text-color);
}
.contactus iframe {
    -webkit-box-shadow: 12px 29px 50px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 12px 29px 50px 0px rgba(255, 255, 255, 0.75);
    box-shadow: 12px 29px 50px 0px rgba(255, 255, 255, 0.75);
}

/*---------Footer----------*/
footer{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    text-align: center;
    padding: 20px;
}
footer a {
    border-radius: 0% !important;
    font-size: 1.5rem;
    margin-inline: 0.1rem;
    border: 0;
    margin-top: 0;
}

/*---------Login----------*/
/* .login{
    justify-content: center;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.9)
}
.login input
{
    font-size: 1rem;
}
.login form {
    font-size: 2rem;
}

.login button[type="submit"] {
    transition: 0.3 ease-in-out;
    background-color: white;
    color: black;
    transform: scale(1.2)translateY(-5px);

} */
/*---------ScrollBar----------*/
::-webkit-scrollbar{
    width: 15px;
    }
::-webkit-scrollbar-thumb{
    background-color: var(--text-color);
}
::-webkit-scrollbar-track{
    background-color: black;
    width: 50px;
}
