*{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.BackgroundIMG{
    background-image: url(Images/Background\ food\ \(7\).png);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    text-decoration: none;
}
.navbar a:hover,
.navbar a.active{
    color: red;
    border-bottom: 3px solid red;
}
.logo{
    font-size: 3rem;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-decoration: none;
}
.logo:hover{
    transform: scale(1.1);
}
.top{
    min-height: 100vh;
    padding: 10rem 5% 5rem;
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

/*-------------Slogan-----------*/
.Slogan{
    color:red;
    float:right;
    right: 12px;
    font-size: 70px;
    margin-top: 70px;
    margin-right: 100px;
    text-shadow: black 1px -1px;
}

#aboutus{
    color: #ffffff;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 15px;
}

.aboutWeb{
    color: white;
   font-size: 24px;
   font-weight: 10px;
   margin-top: 10px;
   margin-left: 15px;
}

.chef{
    width: 250px;
    height: 250px;
    float: right;   
    margin-left: 100px;
    margin-top: -40px;
}

.Chef_About{
    display: inline-flex;
    justify-content: space-between;
    position: relative;
}

/*---------Choose us----------*/
.ChooseUs{
    color: #ffffff;
    font-size: 30px;
    margin-left: 12px;
    margin-top: 20px;
}

.ChooseUs__point{
    color: #ffffff;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 24px;
}

.Food_home{
    float: right;
    margin-left: 120px;
}
.cho_food{
    display: inline-flex;
    justify-content: space-around;
    padding: 10px;
}
/*---------Footer----------*/
footer{
    background-color: mediumaquamarine;
    color: #223333;
    text-align: center;
    padding: 20px;
}
.footer__links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
.footer__links li {
    margin: 0 10px;
}
.footer__links a {
    color: #223333;
    text-decoration: none;
}